#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
  margin: 1em auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 800px;
}
input {
  padding: 0.6em 1.2em;
  margin: 0.5em;
  border-radius: 8px;
  border: 1px solid #646cff;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
button {
  margin: 0 0.5rem;
  cursor: pointer;
}
